* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins" serif;
  background-color: red;
}

.supra,
.dodge,
.ford,
.lamborghini {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.supra {
  background-color: #007c6b;
}

.dodge {
  background-color: #004b6a;
}

.ford {
  background-color: #00455c;
}

.lamborghini {
  background-color: #f83600;
}

.supra-img,
.dodge-img,
.ford-img,
.lamborghini-img {
  height: 100vh;
}

.cars-btn {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.supra-btn,
.dodge-btn,
.lamborghini-btn,
.ford-btn {
  width: 120px;
  height: 45px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.supra-btn {
  background-color: #007c6b;
}

.sbtn,
.dbtn,
.fbtn,
.lbtn {
  width: 130px;
  height: 55px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.14);
}

.dodge-btn {
  background-color: #004b6a;
}

.ford-btn {
  background-color: #00455c;
}

.lamborghini-btn {
  background-color: #f83600;
}

@media (max-width: 850px) {
  .supra-img,
  .dodge-img,
  .ford-img,
  .lamborghini-img {
    height: 50vh;
  }

  .supra-btn,
  .dodge-btn,
  .lamborghini-btn,
  .ford-btn {
    width: 90px;
    height: 35px;
    font-size: 11px;
  }
}

@media (max-width: 512px) {
  .supra-img,
  .dodge-img,
  .ford-img,
  .lamborghini-img {
    height: 31vh;
  }

  .cars-btn {
    gap: 15px;
  }

  .supra-btn,
  .dodge-btn,
  .lamborghini-btn,
  .ford-btn {
    width: 60px;
    height: 25px;
    font-size: 7px;
  }
}
